img {
  max-width:300px;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#fadein, #slideup {
  display:none;
}

#walrus-showing {
  display: none;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.black-background {
  background-color: black;
  color:white;
}

#highlight{
  padding:20px;
  text-align: center;
}

.highlight {
  background-color: yellow;
  border: red solid 2px;
  color: black;
}
