img {
  max-width:300px;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#fadein, #slideup {
  display:none;
}

#walrus-showing {
  display: none;
}
